@media (max-width: 1070px) {
    .hero_main_content{
        width: 50vw;
    }
    .news_letter_text{
        width: 85%;
    }
}

@media (max-width: 980px) {
    .hero_main_content{
        width: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .hero_header{
        text-align: center;
    }
    .hero_main_content{
        margin-top: 9.6rem;
    }
    .service_text_wrapper{
        width: 90%;
    }
    .service_cards_wrapper{
        width: 90vw;
        gap: 16px;
    }
    .project_cards_wrapper{
        width: 90vw;
    }
    .review_cards_wrapper{
        width: 90vw;
        gap: 1.6rem;
    }
    .team_img {
        width: 17.6rem;
        height: 11.2rem;
    }    
    .learge_team_img{
        width: 19.2rem;
        height: 14.4rem;
    }
    .review_cards_wrapper{
        width: 95vw;
    }
    .news_letter_text{
        width: 90%;
    }
    .footer_list_wrapper{
        width: 60vw;
    }
}

@media (max-width: 870px) {
    .service_cards_wrapper{
        gap: 3.2rem;
        width: 85vw;
    }
    .service_card:last-child{
        display: none;
    }
    .project_cards_wrapper{
        width: 85vw;
        gap: 3.2rem;
    }
    .project_card:last-child{
        display: none;
    }
    .review_cards_wrapper{
        flex-direction: column;
        gap: 3.2rem;
        width: 70vw;
        padding-top: 0;
    }
    .brand_review_card{
        margin-top: 0;
    }
}

@media (max-width: 840px) {
    .team_img:first-child{
        display: none;
    }
    .team_img:last-child{
        display: none;
    }
    .news_letter_form{
        flex-direction: column;
        gap: 1.6rem;
        width: 50%;
    }
    .newsletter_header{
        text-align: center;
    }
    .news_letter_content_wrapper{
        padding: 4.8rem;
    }
}

@media (max-width: 800px) {
    .footer_content_wrapper{
        flex-direction: column;
        gap: 1.6rem;
    }
    .footer_diff{
        width: 100%;
        text-align: center;
    }
    .footer_list_wrapper{
        width: 100%;
        flex-direction: column;
    }
    .footer_list{
        text-align: center;
    }
}

@media (max-width: 700px) {
    .service_cards_wrapper{
        width: 90vw;
    }
}

@media (max-width: 680px) {
    .hero_main_content{
        width: 95vw;
        padding-top: 11.2rem;
        margin: auto;
    }
    .hero_header{
        font-size: 11.2rem;
    }
    .hero_text{
        width: 90%;
        font-size: 2.56rem;
        line-height: 1.8;
    }
    .service_text_wrapper{
        width: 95%;
    }
}

@media (max-width: 630px) {
    .project_section_header{
        font-size: 3.2rem;
    }
    .project_cards_wrapper{
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .service_cards_wrapper{
        flex-direction: column;
        width: 70vw;
    }
    .service_card:last-child{
        display: block;
    }
    .project_cards_wrapper {
        flex-direction: column;
        width: 70vw;
    }
    .project_card:last-child{
        display: block;
    }
    .review_cards_wrapper{
        width: 75vw;
    }
    .team_section_top_area{
        width: 80%;
    }
    .service_text_wrapper{
        width: 93vw;
    }
    .why_us_text{
        width: 90vw;
    }
}

@media (max-width: 520px) {
    .hero_header{
        font-size: 4rem;
    }
    .help_display{
        text-align: center;
        padding: 1.6rem 0;
    }
    .help_display p{
        line-height: 1.8;
    }
    .team_members_image_wrapper{
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
}
@media (max-width: 430px) {
    .hero_main_content{
        padding-top: 4rem;
    }
    .hero_header{
        font-size: 4rem;
    }
    .hero_text{
        margin-bottom: 1.6rem;
    }
    .hero_btn_wrapper{
        flex-direction: column;
    }
    .service_cards_wrapper{
        width: 80vw;
    }
    .project_cards_wrapper{
        width: 80vw;
    }
}


@media (max-width: 380px) {
    .navbar{
        padding: .8rem;
    }
    .nav_content_wrapper{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .nav_content_wrapper h3{
        display: none;
    }
    .help_display p{
        width: 85%;
    }
    .hero_main_content{
        padding-top: 0;
    }
    .why_us_section_content_wrapper small{
        text-align: center;
    }
    .project_section_header{
        text-align: center;
        font-size: 2.4rem;
    }
    .service_cards_wrapper{
        width: 85vw;
    }
    .service_bottom_area p{
        line-height: 1.5;
    }
    .review_section_header{
        font-size: 2.4rem;
    }
    .review_cards_wrapper{
        width: 85vw;
    }
    .news_letter_content_wrapper{
        padding: 1.6rem;
    }
    .newsletter_header{
        font-size: 27.2px;
    }
    .news_letter_text{
        width: 100%;
    }
    .news_letter_form{
        width: 98%;
    }
    .copyright{
        width: 90%;
        font-size: 1.6rem;
        line-height: 1.5;
    }
}