@media (max-width: 600px) {
    .service_cards_wrapper{
        flex-direction: column;
        width: 70vw;
    }
    .service_card:last-child{
        display: block;
    }
    .project_cards_wrapper {
        flex-direction: column;
        width: 70vw;
    }
    .project_card:last-child{
        display: block;
    }
    .review_cards_wrapper{
        width: 75vw;
    }
    .team_section_top_area{
        width: 80%;
    }
    .service_text_wrapper{
        width: 93vw;
    }
    .why_us_text{
        width: 90vw;
    }
}

@media (max-width: 520px) {
    .hero_header{
        font-size: 4rem;
    }
    .help_display{
        text-align: center;
        padding: 1.6rem 0;
    }
    .help_display p{
        line-height: 1.8;
    }
    .team_members_image_wrapper{
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
}
@media (max-width: 430px) {
    .hero_main_content{
        padding-top: 4rem;
    }
    .hero_header{
        font-size: 4rem;
    }
    .hero_text{
        margin-bottom: 1.6rem;
    }
    .hero_btn_wrapper{
        flex-direction: column;
    }
    .service_cards_wrapper{
        width: 80vw;
    }
    .project_cards_wrapper{
        width: 80vw;
    }
}


@media (max-width: 380px) {
    .navbar{
        padding: .8rem;
    }
    .nav_content_wrapper{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .nav_content_wrapper h3{
        display: none;
    }
    .help_display p{
        width: 85%;
    }
    .hero_main_content{
        padding-top: 0;
    }
    .why_us_section_content_wrapper small{
        text-align: center;
    }
    .project_section_header{
        text-align: center;
        font-size: 2.4rem;
    }
    .service_cards_wrapper{
        width: 85vw;
    }
    .service_bottom_area p{
        line-height: 1.5;
    }
    .review_section_header{
        font-size: 2.4rem;
    }
    .review_cards_wrapper{
        width: 85vw;
    }
    .news_letter_content_wrapper{
        padding: 1.6rem;
    }
    .newsletter_header{
        font-size: 27.2px;
    }
    .news_letter_text{
        width: 100%;
    }
    .news_letter_form{
        width: 98%;
    }
    .copyright{
        width: 90%;
        font-size: 1.6rem;
        line-height: 1.5;
    }
}