@media (max-width: 1100px) {
    .service_content_wrapper{
        width: 85vw;
    }
    .housing_content_wrapper{
        width: 85vw;
    }
}

@media (max-width: 1000px) {
    .service_content_wrapper{
        width: 90vw;
    }
    .housing_content_wrapper{
        width: 90vw;
    }
    .service_intro_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .service_intro_text_warapper{
        width: 90%;
    }
}

@media (max-width: 940px) {
    .service_content_wrapper{
        flex-direction: column;
        width: 70vw;
    }
    .housing_content_wrapper{
        flex-direction: column-reverse;
        width: 70vw;
    }
    .service_image_area{
        width: 100%;
        border-radius: 1rem;
    }
    .service_text_content_area{
        width: 100%;
    }
    .service_image_content_wrapper{
        height: 50vh;
    }
    .housing_image_content_wrapper{
        justify-content: flex-start;
    }
}

@media (max-width: 660px) {
    .health_image_area{
        width: 80vw;
    }
    .housing_image_area{
        width: 80vw;
    }
    .workers_image_area{
        width: 80vw;
    }
    .service_content_wrapper{
        width: 80vw;
    }
    .housing_content_wrapper{
        width: 80vw;
    }
}

@media (max-width: 540px) {
    .health_image_area{
        width: 90vw;
    }
    .housing_image_area{
        width: 90vw;
    }
    .workers_image_area{
        width: 90vw;
    }
    .service_content_wrapper{
        width: 90vw;
    }
    .housing_content_wrapper{
        width: 90vw;
    }
    .service_intro_text_warapper{
        width: 95vw;
    }
    .service_intro_text_warapper p{
        font-size: 1.2rem;
    }
    .service_image_content_wrapper{
        height: 45vh;
    }
    .service_img_text_box{
        width: 90%;
    }
    .services_header{
        font-size: 1.5rem;
    }
    .service_img_text_box{
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .service_image_content_wrapper{
        height: 35vh;
    }
}