/* [INDEX PAGE] */
@import url('https://fonts.cdnfonts.com/css/axiforma');

:root{
    --primary: #609F05;
    --primary-deep: #4B7C04;
    --service-bg: #F0F7E6;
    --service-tomato-bg: #E89982;
    --pink2: #d18a75;
    --black: #333333;
    --dark: #4d4d4d;}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;}
@media (max-width: 850px) {
    html{
        font-size: 60%;}}
@media (max-width: 850px) {
    html{
        font-size: 57%;}}
@media (max-width: 400px) {
    html{
        font-size: 50%;}}

body{
    font-family: 'Axiforma', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 300;
    color: #1a1a1a;}

button, link, input, textarea{
    font-family: inherit;}
button{
    cursor: pointer;}
.hide{
    display: none;}
.link{
    color: inherit;
    text-decoration: none;}

/* utilities */
.contain{
    padding: 0 12rem;}
@media (max-width: 1100px){
    .contain{
    padding: 0 9rem;}}
@media (max-width: 940px){
    .contain{
    padding: 0 5rem;}}
@media (max-width: 750px){
    .contain{
    padding: 0 3rem;}}
@media (max-width: 430px){
    .contain{
    padding: 0 1.5rem;}}
    
.text-primary{
    color: var(--primary);}
.text-pink{
    color: var(--service-tomato-bg);}

    /* buttons */
.btn{
    display: inline-block;
    padding: .8rem 1.6rem;
    border-radius: 3.2rem;
    text-decoration: none;
    outline: none;
    border: none;}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;}
.btn-square{
    border-radius: unset;}
.btn-primary{
    background-color: var(--primary);
    color: #fff;
    transition: all .5s;}
.btn-primary:hover{
    background-color: var(--primary-deep);}
.btn-primary-outline{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    transition: all .4s;}
.btn-primary-outline:hover{
    background-color: var(--primary-deep);
    color: #fff;}
.btn-light{
    border: 2px solid white;
    background-color: #fff;
    color: #4d4d4d;}
.btn-light-outline{
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: all .4s;}
.btn-light-outline:hover{
    border: 2px solid white;
    background-color: #fff;
    color: #4d4d4d;}
.btn-dark{
    border: 2px solid var(--dark);
    background-color: var(--dark);
    color: #fff;
    transition: all .5s;}
.btn-dark:hover{
    background-color: var(--black);}
.btn-dark-outline{
    border: 2px solid var(--dark);
    background: transparent;
    color: var(--dark);
    transition: all .4s;}
.btn-dark-outline:hover{
    border: 2px solid var(--dark);
    background-color: var(--black);
    color: #fff;}
.btn-black{
    border: 2px solid var(--black);
    background-color: var(--black);
    color: #fff;
    transition: all .5s;}
.btn-black:hover{
    background-color: var(--black);}
.btn-black-outline{
    border: 2px solid var(--black);
    background: transparent;
    color: var(--black);
    transition: all .4s;}
.btn-black-outline:hover{
    border: 2px solid var(--black);
    background-color: var(--black);
    color: #fff;}
.btn-pink{
    border: 2px solid var(--service-tomato-bg);
    background-color: var(--service-tomato-bg);
    color: #fff;
    transition: all .5s;}
.btn-pink:hover{
    background-color: var(--pink2);}
.btn-pink-outline{
    border: 2px solid var(--service-tomato-bg);
    background: transparent;
    color: var(--service-tomato-bg);
    transition: all .4s;}
.btn-pink-outline:hover{
    border: 2px solid var(--service-tomato-bg);
    background-color: var(--pink2);
    color: #fff;}

/* hero + nav*/
.hero_section{
    height: 100vh;
    background-image: url(../Images/hero\ banner.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;}
@media (max-width: 750px){
    .hero_section{
        height: 80vh;
    }
}
.hero_content_wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../Images/hero\ design.png);
    color: white;}
.help_display{
    background: black;
    text-align: center;
    padding: 1.7rem 0;}

/* nav */
.navbar{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;}
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #141414b6;
}
@media (max-width: 380px){
    .navbar{
        padding: .8rem;}}

.nav_content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    padding-left: 2.4rem;
    align-items: center;}
@media (max-width: 1070px){
    .nav_content_wrapper{
        padding-left: 0;}
    .nav_content_wrapper h3{
        font-size: 2rem;}}
@media (max-width: 380px){
    .nav_content_wrapper{
        justify-content: flex-end;
        align-items: flex-end;}
    .nav_content_wrapper h3{
        display: none;}}

.nav_action_warapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.2rem;}
@media (max-width: 1070px){
    .nav_action_warapper{
        display: none;}}

.nav_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    list-style: none;}
.mobile_nav_toogler{
    display: none;}
@media (max-width: 1070px){
    .mobile_nav_toogler{
        display: block;}}

.mobile_nav_toogler ion-icon{
    width: 4rem;
    height: 4rem;}

/* mobile_nav */
.mobile_nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #414141d5;
    z-index: 50;
    backdrop-filter: blur(10px);
    color: #fff;}
.mobile_nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.72rem;
    padding: 1.6rem;
    background-color: #000;
    color: #fff;}
.mobile_nav_closer{
    display: flex;
    justify-content: center;
    align-items: center;}
.mobile_nav_closer ion-icon{
    width: 3.52rem;
    height: 3.52rem;}
.mobile_nav_list_wrapper{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.mobile_nav_list{
    text-align: center;
    list-style: none;
    font-size: 2.08rem;
    font-weight: 600;}
.mobile_nav_list li{
    line-height: 2.3;}
.mobile_nav_btn{
    margin-top: 1.92rem;}

.hero_main_content{
    width: 45%;
    position: absolute;
    transform: translate(0%, -30%);
    top: 50%;
    left: 6%;}
@media (max-width: 1200px) {
    .hero_main_content{
        width: 50vw;}}
@media (max-width: 980px){
    .hero_main_content{
        width: 85%;
        text-align: center;
        padding: 0;}}
@media (max-width: 680px){
    .hero_main_content{
        margin: auto;}}
@media (max-width: 430px){
    .hero_main_content{
        padding-top: 4rem;}}
@media (max-width: 380px){
    .hero_main_content{
        padding-top: 0;}}

.hero_header{
    font-size: 3.6rem;
    font-weight: 600;
    text-transform: uppercase;}
@media (max-width: 630px){
    .hero_header{
    font-size: 2rem}}
.hero_text{
    margin: 0 0 1rem;
    font-size: 2rem;}
@media (max-width: 630px){
    .hero_text{
    margin: 0 0 1rem;
    font-size: 1.6rem;}}

.hero_btn_wrapper{
    display: flex;
    gap: 1rem;}
@media (max-width: 1200px) {
    .nav_action_warapper{
        width: 55vw;}}
@media (max-width: 980px) {
    .hero_btn_wrapper{
        justify-content: center;}}
@media (max-width: 430px){
    .hero_btn_wrapper{
        flex-direction: column;}}

/* service */
.services_section{
    background: var(--service-bg);
    display: flex;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;}
.services_section_header{
    text-align: center;
    font-size: 3rem;}
@media (max-width: 750px){
    .services_section_header{
        font-size: 2rem;
    }
}
.service_text_wrapper{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto 4rem;}
@media (max-width: 1170px){
    .service_text_wrapper{
        width: 95%;}}
@media (max-width: 1000px){
    .service_text_wrapper{
        width: 100%;}}

.service_text{
    text-align: center;}
.service_cards_wrapper, .project_cards_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 85%;
    margin: auto;}
@media (max-width: 1170px){
    .service_cards_wrapper, .project_cards_wrapper{
    width: 95%;}}
@media (max-width: 880px){
    .service_cards_wrapper, .project_cards_wrapper{
    justify-content: center;
    gap: 2.5rem;
    width: 100%;}}

.service_cards_wrapper::-webkit-scrollbar, .project_cards_wrapper::-webkit-scrollbar{
    display: none;
}

.service_card, .project_card{
    flex: 1;
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem .3rem #00000018;
    overflow: hidden;
    background: white;}
@media (max-width: 880px){
    .service_card, .project_card{
        flex: 0 0 40%;}}
@media (max-width: 650px){
    .service_card, .project_card{
        flex: 0 0 65%;}}
@media (max-width: 550px){
    .service_card, .project_card{
        flex: 0 0 75%;}}
@media (max-width: 450px){
    .service_card, .project_card{
        flex: 100%;}}

.service_card_img_wrapper{
    width: 100%;
    height: 20rem;}
.service_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;}
.service_card_header{
    font-size: 2rem;
    line-height: 1.5;}
.service_card_sub_heading{
    color: #292828;
    font-size: 1.4rem;
    font-weight: 300;}

.service_cardHeader{
    padding: 2rem;}
.service_cardBody{
    padding: 0 2rem 2rem;}
.service_card_text{
    margin-bottom: 1.6rem;}
@media (max-width: 1070px){
    .service_card_text{
        font-size: 1.6rem;}}

.service_bottom_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 3rem 0;}
.service_bottom_area a{
    color: var(--primary);}
@media (max-width: 380px){
    .service_bottom_area p{
        line-height: 1.5;}}


/* why_us_section */
.why_us_section{
    background-image: url(../Images/why\ choose\ us\ banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    text-align: center;}
@media (max-width: 450px){
    .why_us_section{
        height: 56vh;}}
@media (max-width: 399px){
    .why_us_section{
        height: 40vh;}}

.why_us_section_content_wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;}
@media (max-width: 380px){
    .why_us_section_content_wrapper small{
        text-align: center;}}

.why_us_header{
    font-size: 3rem;}
.why_us_text{
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;
    margin: 0 auto 1rem;
    width: 65%;}
@media (max-width: 1070px){
    .why_us_text{
        width: 80vw;}}
@media (max-width: 600px){
    .why_us_text{
        width: 90vw;}}


/* project section */
.project_section{
    padding: 5rem 0;}
.peoject_action{
    margin-bottom: 3rem;
    text-align: center;}
.project_btnWrap{
    text-align: center;}
.project_section_header{
    font-size: 2.5rem;
    margin: 0 0 2.5rem;
    color: var(--primary);}
@media (max-width: 380px){
    .project_section_header{
        text-align: center;
        font-size: 2.4rem;}}

.project_card{
    border-radius: 1rem;}
.project_card_img_wrapper{
    width: 100%;
    height: 20rem;}
.project_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;}
.project_card_content_wrapper{
    display: flex;
    flex-direction: column;
    gap: .48rem;
    padding: 2rem;
    background-color: #fff;}
.project_card_heading{
    font-size: 1.7rem;
    margin-bottom: .8rem;}
.project_card_link{
    color: var(--primary);}


/* team_section */
.team_section{
    padding: 5rem 0;}
.news_letter_content_wrapper{
    align-items: center;}
@media (max-width: 380px){
    .news_letter_content_wrapper{
        padding: 1.6rem;}}

.team_section_top_area{
    width: 60%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;}
@media (max-width: 600px){
    .team_section_top_area{
        width: 80%;}}

.team_section_header{
    font-size: 3rem;
    color: #000;
    text-align: center;
    margin-bottom: .8rem;}
.team_section_text{
    text-align: center;
    line-height: 1.7;}
@media (max-width: 1070px){
    .news_letter_text{
        width: 85%;}}

.team_members_image_wrapper{
    width: 100%;
    padding: 4.8rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    justify-content: center;
    align-items: flex-end;}
.team_members_image_wrapper::-webkit-scrollbar{
    display: none;
}

.team_img{
    width: 19.2rem;
    height: 12.8rem;}
@media (max-width: 980px){
    .team_img {
        width: 17.6rem;
        height: 11.2rem;}}
        
.learge_team_img{
    width: 24rem;
    height: 19.2rem;}
@media (max-width: 980px){
    .learge_team_img{
        width: 19.2rem;
        height: 14.4rem;}}


/* review section */
.review_section{
    padding: 7rem 0;
    background: var(--service-bg);}
.review_section_header{
    color: #000;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3.2rem;}
@media (max-width: 380px){
    .review_section_header{
        font-size: 2.4rem;}}

.review_cards_wrapper{
    display: flex;
    position: relative;
    justify-content: space-around;
    gap: 3.2rem;
    margin: auto;
    padding: 4.8rem 0 0;}
@media (max-width: 1070px){
    .review_cards_wrapper{
        width: 85%;}}
@media (max-width: 980px){
    .review_cards_wrapper{
        width: 90vw;
        gap: 1.6rem;}}
@media (max-width: 870px){
    .review_cards_wrapper{
        flex-direction: column;
        gap: 3.2rem;
        width: 70vw;
        padding-top: 0;}}
@media (max-width: 600px){
    .review_cards_wrapper{
        width: 75vw;}}
@media (max-width: 380px){
    .review_cards_wrapper{
        width: 85vw;}}

.review_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.12rem;
    background: white;
    padding: 4rem 2rem;
    transition: all .5s;
    border-radius: .8rem;}
.review_card:hover{
    transform: translateY(-5rem);
    box-shadow: 0 0 1rem .7rem #aaaaaa2a;
    background: var(--primary);
    color: white;}
@media (max-width: 870px){
    .brand_review_card{
        margin-top: 0;}}

.review_user_img_wrapper{
    position: absolute;
    bottom: -4rem;
}

.review_user_img{
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    object-fit: cover;}


/* news_letter_section */
.news_letter_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;}
.news_letter_content_wrapper{
    background-image: url(../Images/CTA\ BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 85%;
    padding: 6rem 5rem;
    height: auto;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;}
@media (max-width: 840px){
    .news_letter_content_wrapper{
        padding: 3rem 2rem;}}

.news_letter_form{
    display: flex;
    grid-column-gap: .8rem;}
@media (max-width: 840px){
    .news_letter_form{
        flex-direction: column;
        gap: 1.6rem;
        width: 90%;}}
@media (max-width: 380px){
    .news_letter_form{
        width: 98%;}}

.newsletter_header{
    margin: 0 0 2rem;
    font-size: 2.5rem;}
@media (max-width: 840px){
    .newsletter_header{
        text-align: center;}}
@media (max-width: 380px){
    .newsletter_header{
        font-size: 27.2px;}}

.news_letter_text{
    width: 70%;
    text-align: center;
    font-size: small;
    margin-bottom: 1.6rem;}
@media (max-width: 980px){
    .news_letter_text{
        width: 90%;}}
@media (max-width: 380px){
    .news_letter_text{
        width: 100%;}}

.news_letter_input{
    padding: 1.4rem 1.5rem;
    border: .1rem solid white;
    outline: none;
    border-radius: .32rem;
    background-color: transparent;
    color: white;}
.news_letter_input::placeholder{
    color: white;}
.news_letter_btn{
    background: black;
    color: white;
    padding: .96rem 2.4rem;
    font-size: 1.76rem;
    border: none;
    outline: none;
    border-radius: .32rem;}


/* footer */
.footer{
    padding-top: 6.4rem;
    background: #1a1a1a;
    color: #ffffffb2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.footer_content_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    width: 87%;
    padding: 0 9.6rem 3.2rem;
    border-bottom: 1px solid white;}
@media (max-width: 1070px){
    .footer_content_wrapper{
        padding: 0;
        padding-bottom: 2.4rem;}}
@media (max-width: 900px){
    .footer_content_wrapper{
        flex-wrap: wrap;}}

.footer_diff{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: .8rem;}
@media (max-width: 900px){
    .footer_diff{
        width: 100%;}}

.brand_name{
    color: #fff;
    font-size: 1.8rem;}
.footer_list_wrapper{
    display: flex;
    justify-content: space-around;
    width: 70%;}
@media (max-width: 900px){
    .footer_list_wrapper{
        justify-content: space-between;
        width: 100%;}}
@media (max-width: 600px){
    .footer_list_wrapper{
        flex-wrap: wrap;
        gap: 2rem;}}
@media (max-width: 445px){
    .footer_list_wrapper{
        width: 100%;}}

.footer_list{
    list-style: none;}
@media (max-width: 600px){
    .footer_list{
        width: calc(95% / 2);}}

.footer_list li{
    padding: .6rem 0;}
.footer_list li:first-child{
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;}
.copyright{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.4rem 0;}
@media (max-width: 380px){
    .copyright{
        width: 90%;
        font-size: 1.6rem;
        line-height: 1.5;}}


/* [ABOUT PAGE] */
.about_hero_section{
    width: 100%;
    height: 57vh;
    background-image: url(../Images/about\ hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;}
@media (max-width: 750px){
    .about_hero_section{
        height: 45vh;}}
/* @media (max-width: 450px){
    .about_hero_section{
        height: 40vh;}} */

.about_hero_main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20%);
    padding: 3rem 0;}

/* intro_section */
.intro_section{
    padding: 6.4rem 0;}
@media (max-width: 450px){
    .intro_section{
        padding-top: 3.2rem;}}
.intro_content_wrappper{
    margin: 0 auto 0;
    display: flex;
    gap: 2rem;}
@media (max-width: 785px){
    .intro_content_wrappper{
        display: block;}}

.intro_img_wrapper{
    background: url(../images/team/ceo.jpeg);
    background-size: cover;
    width: 40%;
    height: 40rem;}
@media (max-width: 985px){
    .intro_img_wrapper{
        margin-bottom: 1rem;
        width: 100%;
        height: 30rem;}}
@media (max-width: 785px){
    .intro_img_wrapper{
        width: 50%;
        background-size: fill;}}

.intro_img{
    object-fit: cover;
    width: 100%;
    height: 100%;}
.intro_text_contnet_div{
    flex: 0 0 60%;
    padding: 0 0 2.4rem;}

.intro_header{
    font-size: 2.4rem;
    margin-bottom: .96rem;
    color: var(--primary);}
/* @media (max-width: 985px){
    .intro_header{
        text-align: center;}} */
@media (max-width: 450px){
    .intro_header{
        font-size: 1.76rem;}}

/* mission_section */
.mission_section{
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    background: #F0F7E6;}
.mission_content_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70vw;
    gap: 3.2rem;}
@media (max-width: 1070px){
    .mission_content_wrapper{
        width: 80vw;}}
@media (max-width: 980px){
    .mission_content_wrapper{
        width: 85vw;}}
@media (max-width: 870px){
    .mission_content_wrapper{
        width: 95vw;}}
@media (max-width: 780px){
    .mission_content_wrapper{
        grid-template-columns: repeat(1, 1fr);
        width: 70vw;}}
@media (max-width: 680px){
    .mission_content_wrapper{
        gap: 4rem;}}
@media (max-width: 580px){
    .mission_content_wrapper{
        width: 75vw;}}
@media (max-width: 500px){
    .mission_content_wrapper{
        width: 80vw;}}
@media (max-width: 450px){
    .mission_content_wrapper{
        width: 90vw;}}

.mission_card{
    text-align: center;}
.mission_header{
    font-size: 2.4rem;
    margin-bottom: .8rem;
    color: var(--primary);}

/* about_team_section */
.about_team_section{
    padding: 4rem 0;}
.about_team_header{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.6rem;
    color: var(--primary);}
@media (max-width: 450px){
    .about_team_header{
        font-size: 2.4rem;}}

.about_team_card{
    display: flex;
    width: 80%;
    margin: 0 auto 0;
    box-shadow: 0 0 1rem .5rem #33333315;
    margin-top: 4.8rem;}
@media (max-width: 1126px){
    .about_team_card{
        width: 90%;}}
@media (max-width: 985px){
    .about_team_card{
        display: block;}}

.about_team_img_area{
    background-image: url(../Images/office\ sm.png);
    width: 40%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;}
@media (max-width: 985px){
    .about_team_img_area{
        width: 100%;
        background-size: fill;
        height: 30rem;}}

.about_team_img_content_wrapper{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: rgba(0, 0, 0, 0.158);}
.about_team_img_content_box{
    background: var(--primary);
    padding: 1rem;
    border-radius: .4rem;
    color: white;

    display: flex;
    flex-direction: column;}
.about_team_img_content_box h3{
    font-size: 1.7rem;}
.about_team_img_content_box p{
    font-size: 1.4rem;}
.about_team_text_wrapper{
    flex: 0 0 60%;
    align-self: center;
    padding: 2rem;
    line-height: 1.4;}
@media (max-width: 780px){
    .about_team_text_wrapper{
        padding: 0 0.2rem;
        padding-bottom: 0.7rem;}}
@media (max-width: 620px){
    .about_team_text_wrapper{
        padding: 0 0.32rem;
        padding-bottom: 1.12rem;}}
@media (max-width: 450px){
    .about_team_text_wrapper{
        font-size: 1.6rem;}}

.about_team_text{
    padding-bottom: 0.48rem;}
.about_team_member_card_wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 auto 5rem;}
@media (max-width: 780px){
    .about_team_member_card_wrapper{
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;}}
@media (max-width: 620px){
    .accredition_logo_wrapper{
        flex-direction: column;
        padding: 5.12rem 0;}}

.team_member_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: center;}
.team_member_card_img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;}
.relationship_text_wrapper{
    margin: 0 auto;
    width: 80%;}


.relationship_text{
    text-align: center;}
@media (max-width: 450px){
    .relationship_text{
        font-size: 1.6rem;}}

.accreditation_section{
    padding: 3rem 0;
    text-align: center;}
.accredition_header{
    font-size: 3rem;
    color: var(--primary);}
@media (max-width: 450px){
    .accredition_header{
        font-size: 2.6rem;}}

.accredition_logo_wrapper{
    display: flex;
    justify-content: space-around;
    width: 55vw;
    margin: 0 auto;
    align-items: center;
    max-width: 95%;}

.accredition_logo{
    max-width: 100%;}


/* [RESOURCES PAGE] */
.service_intro_wrap{
    display: flex;
    padding: 8rem 0;
    gap: 1rem;}
@media (max-width: 950px){
    .service_intro_wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;}}

.service_intro_header{
    color: var(--primary);
    font-size: 3rem;}
.service_intro_text_warapper{
    width: 80%;}
@media (max-width: 1000px){
    .service_intro_text_warapper{
        width: 90%;}}
@media (max-width: 540px){
    .service_intro_text_warapper{
        width: 95vw;}}

.service_intro_text_warapper p{
    font-size: 1.8rem;}
@media (max-width: 540px){
    .service_intro_text_warapper p{
        font-size: 1.92rem;}}

/* services */
.service_section, .health_and_safety_section{
    padding: 8rem 0;
}
.service_section{
    background: #F7FFEC;}
.health_and_safety_section{
    background: #FFEBE5;}

.service_header{
    padding: 1.6rem 0;
    font-size: 3rem;}
@media (max-width: 540px){
    .services_header{
        font-size: 2.4rem;}}

.housing_section{
    background-color: #fff;}
.check_icon{
    width: 1.92rem;
    height: 1.92rem;}
.health_icon{
    fill: black;}
.housing_content_wrapper, .service_content_wrapper{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;}
@media (max-width: 900px){
    .housing_content_wrapper{
        width: 80%;
        flex-direction: column-reverse;}}
@media (max-width: 900px){
    .service_content_wrapper{
        width: 80%;
        flex-direction: column;}}
@media (max-width: 650px){
    .housing_content_wrapper, .service_content_wrapper{
        width: 100%;}}

.service_image_area, .housing_image_area, .health_image_area, .workers_image_area{
    flex: 1;
    height: 65vh;
    position: relative;
    border-radius: 0.64rem;}
@media (max-width: 940px){
    .service_image_area, .housing_image_area, .health_image_area, .workers_image_area{
        height: 20rem;}}

.service_image_area img, .housing_image_area img, .health_image_area img, .workers_image_area img{
    object-fit: cover;
    width: 100%;
    height: 100%;}


.housing_image_content_wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;}
@media (max-width: 940px){
    .housing_image_content_wrapper{
        justify-content: flex-start;}}

.service_image_content_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;}
@media (max-width: 940px){
    .service_image_content_wrapper{
        height: 50vh;}}
@media (max-width: 540px){
    .service_image_content_wrapper{
        height: 45vh;}}

.service_img_text_box{
    background-color: var(--primary);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 65%;
    padding: 1.1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;}
@media (max-width: 540px){
    .service_img_text_box{
        width: 90%;
        font-size: 1.6rem;}}

.health_img_text_box{
    background: tomato;
    color: white;}

.service_image_content_wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);}
@media (max-width: 400px) {
    .service_image_content_wrapper{
        height: 35vh;}}

.service_text_content_area{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.92rem;
    width: 38vw;}
@media (max-width: 940px){
    .service_text_content_area{
        width: 100%;}}

.health_tect_content_area{
    flex: 1;
    padding-right: 3.2rem;}
.resources_service_text, .housing_text{
    line-height: 1.7;}
.services_list{
    list-style: none;}
.services_list li{
    line-height: 2.4;
    display: flex;
    align-items: center;
    gap: 1rem;}
